// Custom.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here



// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

//Escrever aqui as cores para serem adicionadas ao bootstrap map
$brasartes-colors: (
    "cinza": $gray-800
);

//Merge maps
$theme-colors: map-merge($theme-colors,$brasartes-colors);
    

// 8. Add additional custom code here

//New Components Setup
@each $color, $value in $theme-colors {
    .callout-#{$color}
    {
        padding: 1.5rem;
        border-left: 5px solid $value;
        margin: 30px;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";